@model Maganmakcore.Models.Proizvod

@{
    ViewData["Title"] = "Креирај нов производ";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="nov_proizvod" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kategorija_proizvodi" class="control-label"></label>

                <select asp-for="kategorija_proizvodiKategorijaId" class="form-control"
                asp-items="@(new SelectList(ViewBag.lista, "Value", "Text"))"></select>

                <span asp-validation-for="kategorija_proizvodiKategorijaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kratok_opis" class="control-label"></label>
                <input asp-for="kratok_opis" class="form-control" />
                <span asp-validation-for="kratok_opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dolg_opis" class="control-label"></label>
                <input asp-for="dolg_opis" class="form-control" />
                <span asp-validation-for="dolg_opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="slika" class="control-label"></label>
                <br />
                <input type="file" name="postedFile" class="form-control" required />      
                <span asp-validation-for="slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prospekt_link" class="control-label"></label>
                <input type="file" name="postedFile1" class="form-control" />   
                <span asp-validation-for="prospekt_link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="upatstvo_link" class="control-label"></label>
                <input type="file" name="postedFile2" class="form-control"/>   
                <span asp-validation-for="upatstvo_link" class="text-danger"></span>
            </div>

            
            <div class="form-group" role="group">
                <input type="submit" id="btnUpload" value="Креирај" class="btn kopce-proizvod" />
                <button type="button" class="btn kopce-proizvod">@Html.ActionLink("Назад кон листата", "Index1")</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
