@{
    ViewData["Title"] = "Грешка!";
}

<br />
<h1 class="text-center">Упс... такво нешто не постои</h1><br />

        <a class="btn kopce-proizvod kontakt" asp-action="Index1">Назад кон листата</a>
