@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Конфирмација за заборавена лозинка";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ве молиме проверете го меилот за како да ја ресетирате својата лозинка.
</p>

