@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потврда за ресетирање лозинка";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата лозинка беше ресетирана. Ве молиме <a asp-page="./Login">кликнете тука за да се логирате</a>.
</p>
