@model IEnumerable<Maganmakcore.Models.Kategorija_Program>

    <li class="dropdown">
        <a asp-controller="Program" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
            Програми
        </a>
        <ul class="dropdown-menu">
        @foreach(var kategorija in Model)
        {
            <li>
                <a asp-controller="Program" asp-action="Index" asp-route-kategorija="@kategorija.KategorijaIme" class="dropdown">@kategorija.KategorijaIme</a>
            </li>
        }
             <li>
                <a asp-controller="Program" asp-action="Index" asp-route-kategorija="" class="dropdown">Сите програми</a>
            </li>
        </ul>
    </li>