/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #6bb700;
    border-color: #6cb700;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.bg-default {
    background-color: #6bb700;
    color: #fff;
}

.footer-wrapper {
    background: #000;
    color: #7a7a7a;
    padding-bottom: 48px;
}

footer {
    padding: 35px 0 35px;
    float: left;
    width: 100%;
    background: #131313;
}

    footer p {
        margin: 0;
        color: #989898;
        font-size: 15px;
        text-align: center;
    }

        footer p a {
            color: #989898;
            text-decoration: underline;
        }

            footer p a:hover {
                color: #fff;
                text-decoration: none;
            }

section {
    width: 100%;
    float: left;
    padding: 70px 0 70px;
}


.footer-wrapper .about {
    font-size: 12.5px;
}

.footer-wrapper img {
    width: auto;
    height: auto;
    margin: 0 0 20px 0;
}

.footer-wrapper h3 {
    color: #d1d1d1;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 32px;
    position: relative;
}

.footer-wrapper p {
    margin-right: 60px;
}

.footer-wrapper ul li {
    list-style: none;
    margin: 0 0 5px 0;
}

    .footer-wrapper ul li a {
        color: #7a7a7a;
    }

        .footer-wrapper ul li a.golemo {
            font-size: 20px;
            color: #a9a9a9;
            font-weight: 400;
        }

        .footer-wrapper ul li a:hover {
            opacity: 0.7;
        }

.footer-wrapper .footer-nav li i {
    padding: 0 8px 0 0;
}

.footer-wrapper .meta-info h4 {
    font-weight: 600;
    font-size: 14px;
}

    .footer-wrapper .meta-info h4 a:hover {
        color: #fff;
    }

.footer-wrapper .meta-info i {
    margin: 0 8px 0 0;
}

.footer-wrapper .recent-post {
    margin: 0 0 20px 0;
}

    .footer-wrapper .recent-post img {
        width: 100%;
        height: auto;
        margin: 0;
    }

.footer-wrapper .address li {
    margin: 0 0 15px;
}

.footer-wrapper .address i {
    display: inline-block;
    margin: 2px 8px 0 0;
    vertical-align: top;
}

.footer-wrapper .address p {
    display: inline-block;
    margin: 0;
    color: #fff;
}

    .footer-wrapper .address p a {
        display: inline-block;
        margin: 0;
        color: #fff;
    }

        .footer-wrapper .address p a:hover {
            text-decoration: none;
            color: gray;
        }

.brz_link {
    padding-inline-start: 20px;
}

.meni-link li a {
    color: #fff;
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
}

    .meni-link li a:hover {
        color: #365c00;
    }

.dropdown-menu.show{
    background-color:#6bb700;
    color: #fff;
}

.meni-link li a.dropdown {
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-size: 15px;
    background-color: #6bb700;
}

    .meni-link li a.dropdown:hover {
        color: #fff;
        background-color: #518903;
    }

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

    .thumbnail > img {
        margin-left: auto;
        margin-right: auto;
    }

    .thumbnail img {
        width: 100%;
    }

    .thumbnail caption {
        padding: 9px;
        color: #333;
    }

.caption {
    height: 130px;
    overflow: hidden;
}

.pull-right {
    float: right !important;
}

.addToCart {
    padding-left: 10px;
    padding-right: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.lista-proizvodi {
    background-color: white;
    padding: 3em;
    width: 100%;
}

    .lista-proizvodi .card {
        background-color: white;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 10px 5px #b2bec3;
        text-align: center;
    }

.card .naslov-proizvod {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

    .card .naslov-proizvod a {
        color: inherit;
        text-decoration: none;
    }

        .card .naslov-proizvod a:hover {
            color: #6bb700;
        }

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card .kratok-opis-proizvod {
    margin-bottom: 0.5em;
}

.kopce-proizvod {
    background-color: #6bb700;
    color: white;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
    .kopce-proizvod.kontakt{
        width:100%;
    }

    .kopce-proizvod a {
        color: inherit;
        text-decoration: none;
    }

    .kopce-proizvod:hover {
        box-shadow: 0 5px 5px #b2bec3;
        transition: ease-in-out 100ms;
        background-color: #dcffab;
        color: #6bb700;
    }

    .kopce-proizvod a:hover {
        color: inherit;
    }

.proizvodi-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card .cena {
    padding: 0.8em;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.btn-group button a {
    color: white;
    text-decoration: none;
}

.btn-group button {
    background-color: #6bb700;
}

    .btn-group button:hover {
        background-color: #4d8204;
    }

p.opis-detali {
    padding-bottom: 150px;
}

.container.detali {
    padding-bottom: 50px;
}

.programi {
    padding-top: 20px;
}

    .programi li.nav-item.active a.nav-link {
        color: white;
        border: 1px solid #fff;
        background-color: #6bb700;
        font-weight: bold;
    }

        .programi li.nav-item.active a.nav-link:hover {
            color: white;
            background-color: #6bb700;
        }

    .programi li.nav-item a.nav-link {
        color: black;
        background-color: white;
    }

        .programi li.nav-item a.nav-link:hover {
            color: black;
            background-color: #cdff86;
        }


.table.reoni {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
    font-weight: normal;
}
    .table.reoni, .table.reoni td, .table.reoni th {
        border: 1px solid rgba(0,0,0,.1);
        font-weight: normal;
        margin-left: auto;
        margin-right: auto;
    }
        .table.reoni td p a, .table.reoni u {
            color: #000;
            text-decoration: underline;
        }
        .table.reoni tbody, .table.reoni tr {
            border: 0;
            font-size: 100%;
            font-style: inherit;
            font-weight: normal;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            font-weight: normal;
        }
    .row.lokacija{
        padding-top:55px;
        padding-bottom:35px;
    }
.psldproiz {
    position: relative;
    margin-bottom: 15px;
    margin-left: 12px;
}
.linija {
    content: '';
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background: #6bb601;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.strns {
    font-size: 19px;
    color: #1c1c1c;
    text-transform: capitalize;
    float: inherit;
}
.lista1 {
    position: relative;
    padding-left: 20px;

}

    .lista1 span {
        position: relative;
        margin-bottom: 10px;
        margin-left: 10px;
        line-height: 32px;
        padding: 0px 0px 0px 20px;
        margin-right: 5px;
    }

    .lista1 a {
        color: #7f7f7f !important;
        background-color: transparent;
        font-weight:400;
    }

        .lista1 a:hover {
            color: #7f7f7f;
            background-color: transparent;
        }

.pml {
    font-size: 15px;
}

a.naslov {
    color: #000 !important;
    font-weight: 700 !important;
}



#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 10px;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 75%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1)
    }

    to {
        -webkit-transform: scale(2)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}