@model Maganmakcore.Models.Brz_link

@{
    ViewData["Title"] = "Измена на " + Model.Ime;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Izmeni">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group" role="group">
                <input type="submit" value="Зачувај" class="btn kopce-proizvod" />
                <button type="button" class="btn kopce-proizvod">@Html.ActionLink("Назад кон листата", "Index")</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
