@model Maganmakcore.Models.Brz_link

@{
    ViewData["Title"] = "Креирај Линк";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="nov_link">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Креирај" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Назад кон листата", "Index")</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
